In [37]:
import pandas as pd
import os
import plotly.express as px

In [2]:
out_path = os.path.join(os.getcwd(), 'Datasets')

In [3]:
data_path = os.path.join(out_path, 'Lanzo_91_24.txt')

E' possibile utilizzare il metodo read_csv anche su file .txt. In questo caso il delimitatore è il tab.

In [4]:
df = pd.read_csv(data_path, delimiter='\t')

In [5]:
df.columns = ["Anno", "Mese", "Giorno", "Precipitazioni", "Tx", "Tn"]

In [6]:
df

       Anno  Mese  Giorno  Precipitazioni    Tx   Tn
0      1991     1       2             0.0   7.5 -0.2
1      1991     1       3             0.0   9.2  0.5
2      1991     1       4             0.0   5.9  1.3
3      1991     1       5             0.0  10.1 -0.6
4      1991     1       6             0.0   6.7 -0.8
...     ...   ...     ...             ...   ...  ...
12413  2024    12      27             0.0  10.1  0.9
12414  2024    12      28             0.0  15.2  3.0
12415  2024    12      29             0.0  13.8  3.0
12416  2024    12      30             0.0  13.0  2.7
12417  2024    12      31             0.0  10.8  1.3

[12418 rows x 6 columns]

In [7]:
duplicati = df["Anno"][df["Anno"].duplicated()]
print(duplicati)

1        1991
2        1991
3        1991
4        1991
5        1991
         ...
12413    2024
12414    2024
12415    2024
12416    2024
12417    2024
Name: Anno, Length: 12384, dtype: int64

In [8]:
print(df["Anno"].max())
print(df["Mese"].max())
print(df["Giorno"].max())

2024
12
31

In [9]:
print(df["Precipitazioni"].max())
print(df["Precipitazioni"].min())

285.6
-99.9

In [10]:
print(df["Tx"].max())
print(df["Tx"].min())

37.2
-99.9

In [11]:
print(df["Tn"].max())
print(df["Tn"].min())

22.6
-99.9

In [12]:
df["Data"] = pd.to_datetime(df['Anno'].astype(str) + df['Mese'].astype(str) + df['Giorno'].astype(str), format='%Y%m%d')

In [13]:
df.set_index('Data', inplace=True)

In [14]:
df

            Anno  Mese  Giorno  Precipitazioni    Tx   Tn
Data
1991-01-02  1991     1       2             0.0   7.5 -0.2
1991-01-03  1991     1       3             0.0   9.2  0.5
1991-01-04  1991     1       4             0.0   5.9  1.3
1991-01-05  1991     1       5             0.0  10.1 -0.6
1991-01-06  1991     1       6             0.0   6.7 -0.8
...          ...   ...     ...             ...   ...  ...
2024-12-27  2024    12      27             0.0  10.1  0.9
2024-12-28  2024    12      28             0.0  15.2  3.0
2024-12-29  2024    12      29             0.0  13.8  3.0
2024-12-30  2024    12      30             0.0  13.0  2.7
2024-12-31  2024    12      31             0.0  10.8  1.3

[12418 rows x 6 columns]

In [15]:
df.describe()

,Anno,Mese,Giorno,Precipitazioni,Tx,Tn
count,12418.000000,12418.000000,12418.000000,12418.000000,12418.000000,12418.000000
mean,2007.501691,6.523192,15.731358,3.021541,16.629022,6.573748
std,9.810775,3.448675,8.800034,14.938434,9.613697,8.284724
min,1991.000000,1.000000,1.000000,-99.900000,-99.900000,-99.900000
25%,1999.000000,4.000000,8.000000,0.000000,10.100000,1.300000
50%,2008.000000,7.000000,16.000000,0.000000,16.600000,6.800000
75%,2016.000000,10.000000,23.000000,0.800000,23.800000,12.300000
max,2024.000000,12.000000,31.000000,285.600000,37.200000,22.600000

In [16]:
count_nn =( df["Precipitazioni"]==-99.9).sum()
print(count_nn)

84

In [17]:
df.replace(-99.9, pd.NA, inplace=True)

In [18]:
df

            Anno  Mese  Giorno Precipitazioni    Tx   Tn
Data
1991-01-02  1991     1       2            0.0   7.5 -0.2
1991-01-03  1991     1       3            0.0   9.2  0.5
1991-01-04  1991     1       4            0.0   5.9  1.3
1991-01-05  1991     1       5            0.0  10.1 -0.6
1991-01-06  1991     1       6            0.0   6.7 -0.8
...          ...   ...     ...            ...   ...  ...
2024-12-27  2024    12      27            0.0  10.1  0.9
2024-12-28  2024    12      28            0.0  15.2  3.0
2024-12-29  2024    12      29            0.0  13.8  3.0
2024-12-30  2024    12      30            0.0  13.0  2.7
2024-12-31  2024    12      31            0.0  10.8  1.3

[12418 rows x 6 columns]

In [19]:
df.describe()

               Anno          Mese        Giorno
count  12418.000000  12418.000000  12418.000000
mean    2007.501691      6.523192     15.731358
std        9.810775      3.448675      8.800034
min     1991.000000      1.000000      1.000000
25%     1999.000000      4.000000      8.000000
50%     2008.000000      7.000000     16.000000
75%     2016.000000     10.000000     23.000000
max     2024.000000     12.000000     31.000000

In [20]:
print(df["Tn"].max())
print(df["Tn"].min())

22.6
-14.1

In [21]:
print(df["Tx"].max())
print(df["Tx"].min())

37.2
-5.3

In [22]:
print(df["Precipitazioni"].max())
print(df["Precipitazioni"].min())

285.6
0.0

In [23]:
df.isna().sum()

Anno               0
Mese               0
Giorno             0
Precipitazioni    84
Tx                24
Tn                29
dtype: int64

In [24]:
print(df.dtypes)

Anno               int64
Mese               int64
Giorno             int64
Precipitazioni    object
Tx                object
Tn                object
dtype: object

In [27]:
df["Precipitazioni"] = pd.to_numeric(df["Precipitazioni"], errors="coerce")
df["Tx"] = pd.to_numeric(df["Tx"], errors="coerce")
df["Tn"] = pd.to_numeric(df["Tn"], errors="coerce")

In [30]:
df.describe()

,Anno,Mese,Giorno,Precipitazioni,Tx,Tn
count,12418.000000,12418.000000,12418.000000,12334.000000,12394.000000,12389.000000
mean,2007.501691,6.523192,15.731358,3.722483,16.854672,6.822980
std,9.810775,3.448675,8.800034,12.330351,8.139682,6.495874
min,1991.000000,1.000000,1.000000,0.000000,-5.300000,-14.100000
25%,1999.000000,4.000000,8.000000,0.000000,10.100000,1.400000
50%,2008.000000,7.000000,16.000000,0.000000,16.700000,6.900000
75%,2016.000000,10.000000,23.000000,0.800000,23.800000,12.300000
max,2024.000000,12.000000,31.000000,285.600000,37.200000,22.600000

In [32]:
df_ristretto = df[(df["Anno"] >= 1991) & (df["Anno"] <= 2020)].copy()

In [33]:
df_ristretto

            Anno  Mese  Giorno  Precipitazioni    Tx   Tn
Data
1991-01-02  1991     1       2             0.0   7.5 -0.2
1991-01-03  1991     1       3             0.0   9.2  0.5
1991-01-04  1991     1       4             0.0   5.9  1.3
1991-01-05  1991     1       5             0.0  10.1 -0.6
1991-01-06  1991     1       6             0.0   6.7 -0.8
...          ...   ...     ...             ...   ...  ...
2020-12-27  2020    12      27             0.0   1.0 -3.0
2020-12-28  2020    12      28             0.6   2.6 -2.7
2020-12-29  2020    12      29             0.0   4.8 -3.7
2020-12-30  2020    12      30             0.0   5.8 -3.2
2020-12-31  2020    12      31             0.0   4.5 -2.9

[10957 rows x 6 columns]

In [34]:
df_ristretto.describe()

,Anno,Mese,Giorno,Precipitazioni,Tx,Tn
count,10957.000000,10957.000000,10957.000000,10892.000000,10933.000000,10928.000000
mean,2005.501688,6.523227,15.731587,3.786945,16.814753,6.684517
std,8.655516,3.448671,8.800026,12.542172,8.206135,6.473410
min,1991.000000,1.000000,1.000000,0.000000,-5.300000,-14.100000
25%,1998.000000,4.000000,8.000000,0.000000,10.000000,1.200000
50%,2006.000000,7.000000,16.000000,0.000000,16.600000,6.800000
75%,2013.000000,10.000000,23.000000,0.800000,23.800000,12.100000
max,2020.000000,12.000000,31.000000,285.600000,37.200000,22.600000

In [35]:
df_ristretto['T_media'] = (df_ristretto['Tx'] + df_ristretto['Tn']) / 2
media_annua = df_ristretto.groupby('Anno')['T_media'].mean().reset_index()

In [38]:
fig = px.line(media_annua, x='Anno', y='T_media', title='Temperatura media annuale')
fig.show()

In [43]:
print(df_ristretto[df_ristretto["Anno"] == 1991]["Tx"].max())
print(df_ristretto[df_ristretto["Anno"] == 1991]["Tn"].min())

31.6
-13.5