Installazione librerie necessarie

In [29]:
from tabnanny import NannyNag

import pandas as pd
import os
import math

Definizione del percorso del dataframe

In [5]:
df_dir = os.path.join(os.getcwd(), 'Datasets')
df_path = (os.path.join(df_dir, 'nyc_weather.csv'))
df = pd.read_csv(df_path)

Stampa del df

In [73]:
display(df)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

Recupero della porzione di df contenente le temperature

In [74]:
temp_df = df['Temperature']
print(temp_df)

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

Stampa della temperatura massima e minima

In [75]:
temp_max = temp_df.max()
temp_min = temp_df.min()
print(f"La temperatura massima è:  {temp_max} , mentre la minima è :  {temp_min}")

La temperatura massima è:  50 , mentre la minima è :  20

Date in cui ha piovuto

In [76]:
rain_dates = df['EST'][df['Events'] == 'Rain']
print(rain_dates)

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

Date in cui l'umidità è stata maggiore di 60, associando anche la colonna dell'umidità
Occhio che per selezionare entrambe le colonne la sintassi corretta è df[['EST', 'Humidity']]
e non df['EST', 'Humidity']
il secondo caso si aspetta una tupla come chiave e non ha senso per pandas

In [77]:
hum_dates = df[['EST', 'Humidity']][df['Humidity'] > 60]
print(hum_dates)

          EST  Humidity
7    1/8/2016        64
8    1/9/2016        77
9   1/10/2016        71
14  1/15/2016        62
15  1/16/2016        70
16  1/17/2016        66
22  1/23/2016        78

Alternativa 1 (loc)

In [78]:
filtro = df['Humidity'] > 60
print(df.loc[filtro, ['EST', 'Humidity']])

          EST  Humidity
7    1/8/2016        64
8    1/9/2016        77
9   1/10/2016        71
14  1/15/2016        62
15  1/16/2016        70
16  1/17/2016        66
22  1/23/2016        78

Alternativa 2

[df['Humidity'] > 60] restituisce il dataframe originale filtrato per questa condizione
[['EST', 'Humidity']] prende solo le colonne selezionate

In [79]:
hum_dates = df[df['Humidity'] > 60][['EST', 'Humidity']]
print(hum_dates)

          EST  Humidity
7    1/8/2016        64
8    1/9/2016        77
9   1/10/2016        71
14  1/15/2016        62
15  1/16/2016        70
16  1/17/2016        66
22  1/23/2016        78

Per restituire la media di una colonna

In [80]:
mean_wind = df['WindSpeedMPH'].mean()
print(mean_wind)

6.892857142857143

Per pulire il dataframe, il metodo fillna rimpiazza i valori NaN e NA con il valore passato come argomento. "inplace" fa in modo che la modifica avvenga sul df originale

In [81]:
df.fillna(0, inplace=True)
display(df)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

Valore dopo il fillna (ora ha conteggiato gli zeri)

In [82]:
mean_wind = df['WindSpeedMPH'].mean()
print(mean_wind)

6.225806451612903

Grandezza del df

In [83]:
print(df.shape)

(31, 11)

hey, è una tupla, quindi posso fare...

In [84]:
rows, columns = df.shape
print(rows)

31

La testa ( di default i primi 5 record del df )

In [85]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333

In [86]:
df.head(2)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275

Analogamente..

In [87]:
df.tail(1)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
30,1/31/2016,46,28,52,29.9,10,5.0,0,0,0,241

Se voglio stampare una porzione del df. La prima porzione è inclusa, la seconda no.

In [88]:
display(df[2:5])

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333

Lista delle colonne

In [89]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

Contenuto di una colonna (è analogo a df['EST'])

In [90]:
df.EST

0      1/1/2016
1      1/2/2016
2      1/3/2016
3      1/4/2016
4      1/5/2016
5      1/6/2016
6      1/7/2016
7      1/8/2016
8      1/9/2016
9     1/10/2016
10    1/11/2016
11    1/12/2016
12    1/13/2016
13    1/14/2016
14    1/15/2016
15    1/16/2016
16    1/17/2016
17    1/18/2016
18    1/19/2016
19    1/20/2016
20    1/21/2016
21    1/22/2016
22    1/23/2016
23    1/24/2016
24    1/25/2016
25    1/26/2016
26    1/27/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

e qual è il suo tipo?

In [91]:
type(df.EST)

pandas.core.series.Series

Come accennato in precedenza, per accedere a delle colonne specifiche del df

In [92]:
df[['EST', 'DewPoint']]

          EST  DewPoint
0    1/1/2016        23
1    1/2/2016        18
2    1/3/2016        21
3    1/4/2016         9
4    1/5/2016        -3
5    1/6/2016         4
6    1/7/2016        11
7    1/8/2016        29
8    1/9/2016        38
9   1/10/2016        46
10  1/11/2016         8
11  1/12/2016        15
12  1/13/2016         4
13  1/14/2016        12
14  1/15/2016        31
15  1/16/2016        37
16  1/17/2016        23
17  1/18/2016         6
18  1/19/2016         3
19  1/20/2016        15
20  1/21/2016        11
21  1/22/2016         6
22  1/23/2016        21
23  1/24/2016        11
24  1/25/2016        18
25  1/26/2016        29
26  1/27/2016        22
27  1/28/2016        20
28  1/29/2016        21
29  1/30/2016        16
30  1/31/2016        28

deviazione standard

In [93]:
std = df['Temperature'].std()
print(std)

7.639315400279416

describe fa un display delle statistiche del df laddove vi siano colonne numeriche

In [94]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.225806,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,3.422569,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,0.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.000000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

applicare una condizione di filtro al df

In [95]:
df[df.Temperature>=32]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [96]:
df[df.Temperature == df.Temperature.max()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109

Se voglio un df ristretto a certe colonne

In [97]:
df[['EST', 'Temperature']][df.Temperature == df.Temperature.max()]

         EST  Temperature
9  1/10/2016           50

Gli indici

In [98]:
df.index
print(df.index.name)

None

se voglio cambiarlo (dal momento che quello attuale è creato di default)

In [102]:
df.set_index('EST', inplace = True)

In [103]:
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,0,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,0,312
1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

Per accedere tramite index, posso usare loc

In [104]:
df.loc['1/9/2016']

Temperature                44
DewPoint                   38
Humidity                   77
Sea Level PressureIn    30.16
VisibilityMiles             9
WindSpeedMPH              8.0
PrecipitationIn             T
CloudCover                  8
Events                   Rain
WindDirDegrees             76
Name: 1/9/2016, dtype: object

Per resettare gli indici

In [105]:
df.reset_index(inplace=True)

In [106]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

Altro dataframe: il parametro header definisce da quale riga voglio partire per creare il df
name sostituisce i nomi della riga dell'header con quelli specificati
nrows specifica quante righe vuoi ottenere

In [18]:
df2_path = os.path.join(df_dir, 'stock_data.csv')
df2 = pd.read_csv(df2_path, header = 0, names = ["Tickers", "Eps", "Revenue", "Price", "People"], nrows = 5)
df2

  Tickers            Eps  Revenue Price         People
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

Ci sono dei dati sporchi come si può vedere, che rappresentano dei NaN, se voglio toglierli posso specificare i n.a values

In [21]:
df2 = pd.read_csv(df2_path, header = 0, names = ["Tickers", "Eps", "Revenue", "Price", "People"], nrows = 5, na_values = ["not available", "n.a.", -1])
df2

  Tickers    Eps  Revenue   Price         People
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT    NaN     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

Posso anche passarli come json i na_values (per esempio -1 potrebbe essere un valore corretto per una determinata colonna

In [24]:
df2 = pd.read_csv(df2_path, header = 0, names = ["Tickers", "Eps", "Revenue", "Price", "People"], nrows = 5, na_values =
{
    'Eps' : ["not available", "n.a."],
    'Revenue' : ["not available", "n.a.", -1],
    'Price' : ["not available", "n.a.", -1],
    'People' : ["not available", "n.a.", -1]
})
df2

  Tickers    Eps  Revenue   Price         People
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

Se volessi scrivere un csv a partire da un df (posso anche specificare le colonne da scegliere)

In [28]:
out_path = os.path.join(os.getcwd(), "Outputs")
new_csv_path = os.path.join(out_path, 'new.csv')
df2.to_csv(new_csv_path, columns = ['Tickers', 'Eps'])

Posso fare anche delle simpatiche operazioni di conversione scrivendo io delle funzioni apposite

In [37]:
def convertitore_nome(cella):
    if pd.isna(cella) or cella=="n.a.":
        return "Pippo"
    return cella

In [38]:
df2 = pd.read_csv(df2_path, header = 0, names = ["Tickers", "Eps", "Revenue", "Price", "People"], nrows = 5, na_values =
{
    'Eps' : ["not available", "n.a."],
    'Revenue' : ["not available", "n.a.", -1],
    'Price' : ["not available", "n.a.", -1],
    'People' : ["not available", "n.a.", -1]
}, converters = {
    'People' : convertitore_nome
})
df2

  Tickers    Eps  Revenue   Price         People
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0          Pippo
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

Se voglio scriverlo come excel

In [40]:
new_xsl_path = os.path.join(out_path, 'new.xlsx')
with pd.ExcelWriter(new_xsl_path) as writer:
    df2.to_excel(writer, sheet_name='Stocks')